.main-panel {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.trending-books {
    display: flex;
    background-color: bisque;
    width: fit-content;
}

.book-item {
    width: 150px;
    padding-left: 10px;
}