.button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button a {
    color: #fff;
}

.button:hover {
    background-color: gray;
}
