nav {
    display: flex;
    align-items: center;
}

nav div a, .links{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

nav div {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    margin-left: auto;
}

nav div:last-child {
    margin-left: auto;
}

.links {
    display: flex;
    width: 200px;
    justify-content: space-between;
}